<div class="row">
    <div class="col-sm-12">
        <button type="button" data-btn-action="" class="btn btn-primary btn-lg btn-block"><%= name %></button>
        <p id="<%= name %>"></p>
    </div>
</div>

