<div class="row">
    <div class="col-sm-12">
        <button type="button" data-fail="fail" data-teamid="<%= teamid %>" onClick="fail(this)" class="btn btn-dark btn-lg btn-block"><%= name %></button>
    </div>
</div>
