<div class="row">
	<div class="col-sm-4">
		<button type="button" data-btn-id="<%= id %>" class="btn btn-block btn-primary"><%= label%></button>
	</div>
</div>
    <div class="col-sm-12">
        <button type="button" data-btn-action="" class="btn btn-danger btn-lg btn-block"><%= name %></button>
        <p id="<%= name %>"></p>
    </div>
</div>
