<div class="row">
    <div class="col-sm-12">
        <button type="button" onClick="fail(this)" id="<%= lel %>" class="btn btn-dark btn-lg btn-block">Fail</button>
        <p id="fail"></p>
    </div>
</div>
