<div class="row">
    <div class="col-sm-12">
        <button type="button" data-teamid="<%= teamid %>" data-btn-action="" data-climb class="btn btn-light btn-lg btn-block"><%= name %></button>
        <p id="<%= name %>"></p>
    </div>
</div>
