<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/bootstrap.min.css"></link>
        <link rel="stylesheet" href="/css/toastr.min.css"></link>
        <link rel="stylesheet" href="/css/global.css"></link>
        <title>WBI Scouting System 2.0</title>
    </head> 
    <body>
        <div class="container-fluid" style="margin:0;padding:0">
            <div class="row">
                <div class="col-sm-3">
                    <a class="btn btn-danger btn-lg btn-block" style="padding-top:48VH;padding-bottom:49VH;height:100VH" href="/red">Red</a>
                </div>
                <div class="col-sm-3">
                    <a class="btn btn-primary btn-lg btn-block" style="padding-top:48VH;padding-bottom:49VH;height:100VH" href="/blue">Blue</a>
                </div>
                <div class="col-sm-3">
                    <a class="btn btn-dark btn-lg btn-block" style="padding-top:48VH;padding-bottom:49VH;height:100VH;color:white" href="/scoutmaster">Scoutmaster</a>
                </div>
                <div class="col-sm-3">
                    <a class="btn btn-light btn-lg btn-block" style="padding-top:48VH;padding-bottom:49VH;height:100VH;color:black" href="/ynot">WBI Scouting System</a>
                </div>
            </div>
        </div>
    </body>
