<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/global.css"></link>
        <script>
        
        </script>
    </head>    
    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    
                </div>
                <div class="col-sm-4">

                </div>
                <div class="col-sm-4">

                </div>    
            </div>
        </div>
    </body>
</html>
