<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/global.css"></link>
        <link rel="stylesheet" href="/css/bootstrap.min.css"></link>
        <script>
var value = 0;
function myFunction() {
}
function test() {
    value +=1;

    document.getElementById('value').innerHTML = value;
    return true
}
function test1() {
    value -=1;

    document.getElementById('value').innerHTML = value;
    return true
}
        </script>
    </head>    
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4">
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="button" onclick="myFunction()" class="btn btn-primary btn-lg btn-block">Cross</button>
                            <p id="Cross"></p>
                        </div>
                    </div>
                    <%= partial :counter, locals: {label: "Scale"} %>
                </div>
                <div class="col-sm-4">
                </div>
                <div class="col-sm-4">
                </div>    
            </div>
        </div>
    </body>
</html>
