<div class="row">
    <div class="col-sm-12">
        <center><span data-teamid="<%= teamid %>" class="badge badge-primary"><%= teamid %></span></center>
        <p id="<%= teamid %>"></p>
    </div>
</div>
