<html>
    <head>
        <link rel="stylesheet" href="/css/bootstrap.min.css"</link>
        <link rel="stylesheet" href="/css/global.css"</link>
        <link rel="stylesheet" href="/css/toastr.min.css"></link>
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/toastr.min.js"></script>
        <script src="/faye/faye.js"></script>

        <meta
                name='viewpoint'
                content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'
                />
    </head>
    <style>
a {

}
    </style>
    <script>
var matchCounter = 0;
var matchList = [];

function up() {
  matchCounter += 1;
    $('#val').html(matchCounter);
        updateMatchDisplay();
}

function down() {
  matchCounter -= 1;
    $('#val').html(matchCounter);
        updateMatchDisplay();
}

$(function() { 
    $('.carousel').carousel('pause');

    $.get('/events.json', function(d) {
      d = JSON.parse(d);
      d.forEach(function(e) {
        $('#eventSelector').append('<option value="' + e.event + '">' + e.event + '</option>')
      });
      matchList = d[0].matches;
        updateMatchDisplay();
    });

    $('#eventSelector').change(function() {
      $.get('/events/' + $(this).val() + '.json', function(d) {
        matchList = JSON.parse(d).matches;
        matchCounter = 0;
        updateMatchDisplay();
      });
    });

    $('[data-action=pushMatch]').click(function() {
      match = matchList[matchCounter];
      $.post('/scoutmaster/submit', {R1: match.red[0], R2: match.red[1], R3: match.red[2], B1: match.blue[0], B2: match.blue[1], B3: match.blue[2], MN: match.comp_level + match.match, EV: match.event }, function() {
        console.log('ok');
      });
    });
});

function updateMatchDisplay() {
  match = matchList[matchCounter];
  $('#matchNumber').html(match.comp_level + " " + match.match);
}

function qFunction() {
    console.log($(indicator));
    $('.carousel').carousel('next');
    if ($('#indicator').hasClass('pre')) {
        $('#indicator').removeClass('pre');
        $('#indicator').addClass('tele');
        $('#indicator').html('Tele');
    } else if ($('#indicator').hasClass('tele')) {
        $('#indicator').removeClass('tele');
        $('#indicator').addClass('end');
        $('#indicator').html('Endgame');
    } else if ($('#indicator').hasClass('end')) {
        $('#indicator').removeClass('end');
        $('#indicator').addClass('post');
        $('#indicator').html('Post');
    } else if ($('#indicator').hasClass('post')) {
        $('#indicator').removeClass('post');
        $('#indicator').addClass('pre');
        $('#indicator').html('Pre');
    }
}
function gqFunction() {
    $('.carousel').carousel('prev');
    if ($('#indicator').hasClass('pre')) {
        $('#indicator').removeClass('pre');
        $('#indicator').addClass('post');
        $('#indicator').html('Post');
    } else if ($('#indicator').hasClass('tele')) {
        $('#indicator').removeClass('tele');
        $('#indicator').addClass('pre');
        $('#indicator').html('Pre');
    } else if ($('#indicator').hasClass('end')) {
        $('#indicator').removeClass('end');
        $('#indicator').addClass('tele');
        $('#indicator').html('Tele');
    } else if ($('#indicator').hasClass('post')) {
        $('#indicator').removeClass('post');
        $('#indicator').addClass('end');
        $('#indicator').html('Endgame');
    }
}
    </script>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div id="carouselExampleControls" style="width:100%" class="carousel slide" data-ride="carousel" data-pause="true">
                    <div class="carousel-inner">
                        <div class="carousel-item active" style="padding:10px">
                            <div class="row">    
                                <div class="col-sm-4 a">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <h1><span data-teamid="461" style="width:100%" class="badge badge-secondary">461</span></h1>
                                        </div>
                                    </div>    
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <h1><span data-teamid="462" style="width:100%" class="badge badge-secondary">462</span></h1>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <h1><span data-teamid="463" style="width:100%" class="badge badge-secondary">463</span></h1>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 a">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="card text-white bg-secondary mb-3" style="width:100%;">
                                                <h1><span style="width:100%" class="badge badge-secondary">Event Number</span></h1>
                                                <div class="card-body">
                                                    <select id="eventSelector" style="width:100%">
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="card text-white bg-secondary mb-3" style="width: 100%;">
                                                <h1><span style="width:100%" class="badge badge-secondary">Match</span></h1>
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-sm-3">
                                                            <button class="button btn btn-light btn-lg btn-block" onClick="up()" style="background-color:white">+</button>
                                                        </div>
                                                        <div class="col-sm-6">
                                                          <center><div id="val">0</div><div id="matchNumber"></div></center>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <button class="button btn btn-light btn-lg btn-block" onClick="down()" style="background-color:white">-</button>
                                                        </div>
                                                    </div>
                                                    <div class="row mt-3">
                                                      <div class="col-6 offset-3">
                                                        <button type="button" data-action="pushMatch" class="btn btn-primary btn-lg">Push Next Match</button>
                                                      </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 a">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <h1><span data-teamid="464" style="width:100%" class="badge badge-secondary">464</span></h1>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <h1><span data-teamid="465" style="width:100%" class="badge badge-secondary">465</span></h1>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <h1><span data-teamid="466" style="width:100%" class="badge badge-secondary">466</span></h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item" style="padding:10px">
                            <div class="row">    
                                <div class="col-sm-6">
                                    <div class="card text-white bg-secondary mb-3" style="width:100%;">
                                        <h1><span style="width:100%" class="badge badge-secondary">461</span></h1>
                                        <div class="card-body">
                                            
                                            <%= partial :button, locals: {name: "Cross",teamid: "461"}%>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item" style="padding:10px">
                            <div class="row">
                            </div>
                        </div>
                        <div class="carousel-item" style="padding:10px">
                            <div class="row">    
                            </div>
                            <div class="row">
                                <button type="button" onClick="submit()" class="btn btn-dark btn-lg btn-block">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="row" style="padding:10px;padding-top:20px" id="pid">
            <div class="col-sm-2">
                <button type="button" onclick="gqFunction()" class="btn btn-info btn-block">Prev</button>
            </div>
            <div class="col-sm-8">
                <center><span id="indicator" class="pre badge badge-primary">Pre</span></center>
            </div>
            <div class="col-sm-2">
                <button type="button" onclick="qFunction()" class="btn btn-info btn-block">Next</button>
            </div>
        </div>
        </div>
    </body>
