<html>
    <head>
        <link rel="stylesheet" href="/css/global.css"</link>
        <link rel="stylesheet" href="/css/bootstrap.min.css"</link>
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>

    <meta
        name='viewpoint'
        content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'
        />
    </head>

    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <form action="/red_submit">
                        Red Alliance One: <input type="text" name="R1">
                        Red Alliance Two: <input type="text" name="R2">
                        Red Alliance Three: <input type="text" name=R3">
			Match Number: <input type="text" name="MN">
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
		    <form action="blue_submit">
			Blue Alliance One: <input type="text" name="B1">
			Blue Alliance Two: <input type="text" name="B2">
			Blue Alliance Three: <input type="text" name="B3">
			Match Number: <input tupe="text" name="MN">
			<input type="submit" value="Submit">
		    </form>
		</div>
	    </div>
	</div>
    </body>
