<html>
  <head>
    <link rel="stylesheet" href="/css/bootstrap.min.css"</link>
    <link rel="stylesheet" href="/css/global.css"</link>
    <link rel="stylesheet" href="/css/toastr.min.css"></link>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/toastr.min.js"></script>
    <script src="/faye/faye.js"></script>
    <title>Trending</title>
    <meta
            name='viewpoint'
            content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'
            />
  </head>
  <body>
    <div class="container">
      <div class="row">
      </div>
    </div>
  </body>
</html>
