<html>
  <head>
    <link rel="stylesheet" href="/css/bootstrap.min.css"</link>
    <link rel="stylesheet" href="/css/global.css"</link>
    <link rel="stylesheet" href="/css/toastr.min.css"></link>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/toastr.min.js"></script>
    <script src="/faye/faye.js"></script>
    <title>Trending</title>
    <meta
            name='viewpoint'
            content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'
            />
  </head>
  <body>
    <div class="container">
      <% @teams.each do |team, matches| %>
        <div class="row">
          <h4>Teams</h4>
          <div class="col">
            <%= team %>
          </div>
          <h4>Match Number</h4>
          <div class="col">
            <%= matches.map{|m| (m['#matchNumber'] || 0).to_i }.reduce{|x, r| x + r} / matches.count %>
          </div>
          <h4>Auto Scale</h4>
          <div class="col">
            <%= matches.map{|m| (m['auto-scale'] || 0).to_i }.reduce{|x, r| x.to_i + r.to_i} / matches.count %>
          </div>
          <h4>Tele Scale</h4>
          <div class="col">
            <%= matches.map{|m| (m['tele-scale'] || 0).to_i }.reduce{|x, r| x.to_i + r.to_i} / matches.count %>
          </div>
        </div>
      <% end %>
    </div>
  </body>
</html>
