<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/bootstrap.min.css"></link>
        <link rel="stylesheet" href="/css/toastr.min.css"></link>
        <link rel="stylesheet" href="/css/global.css"></link>
        <title>3%6280.>2!198#1@</title>
        <script>
$('.alert').alert();
        </script>
    </head> 
    <body>
        <div class="container-fluid" style="margin:0;padding:0">
            <div class="row" style="background-color:#0d264f;height:100VH;min-width:100%">
                <div class="col-sm-12">
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>Holy guacamole!</strong> You should check in on some of those fields below.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
